<!DOCTYPE html>
<html lang="en">
  <head>
    <title><?page_title?>Agile Toolkit<?/?></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="<?template?>images/favicon.ico<?/?>" type="image/x-icon"  />
    <link rel="shortcut icon" href="<?template?>images/favicon.ico<?/?>" />
    <link rel="stylesheet" type="text/css" href="<?template?>css/jquery-ui.css<?/?>" />
    <link rel="stylesheet" type="text/css" href="<?template?>css/atk-codepad.css<?/?>" />
    <link rel="stylesheet" type="text/css" href="<?template?>css/atk-custom.css<?/?>" />
    <?$js_include?>
    <!-- <script type="text/javascript"
      src="http://balupton.github.com/jquery-syntaxhighlighter/scripts/jquery.syntaxhighlighter.min.js"></script> -->
    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="<?template?>css/ie8.css<?/?>"/>
    <script type="text/javascript" src="<?template?>css/ie8.js<?/?>"></script>
    <![endif]-->
    <script type="text/javascript">
      $(function(){
        <?$document_ready?>
      });
    </script>
  </head>
  <body>

    <div id="atk-layout" class="atk-wrapper">
      <div id="header" class="atk-row">
        <div class="span9"><?logo?><div id="atk-logo" class="ui-widget-header float-left"><a href="<?page?>index<?/?>"><img src="<?template?>images/logo.png<?/?>" /></a></div><?/logo?></div>
        <div class="span3">

          <script>
            $(function(){
              $('.demo-quicksearch').button({
                icons: {
                  primary: "ui-icon-search"
                },
                text: false
              });
            });
          </script>

          <div class="atk-form stacked">
            <form>
              <fieldset>
                <div class="atk-form-row">
                  <div class="atk-form-field">
                    <div class="input-row">
                      <div class="input-cell expanded"><input type="text" placeholder="Search..."></div>
                      <div class="input-cell"><button class="demo-quicksearch">Search</button></div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>				
        </div>
      </div>
      <div class="atk-row">

        <div class="atk-flexy main">
          <?$SubMenu?>
          <div class="content-w-sidebar">
            <div class="inner">
              <?$Content?>
            </div>
          </div>
        </div>
      </div>
      <div id="atk-footer-guard"></div>
    </div>
    <?Footer?>
    <div id="footer" class="atk-wrapper">
      <?footer_text?>
      This system is implemented using <a href="http://agiletoolkit.org/">Agile Toolkit</a>. &copy; 1999–2012
      Agile Technologies. <a href="http://agiletoolkit.org/about/license">See License</a>
      <?/?>
    </div>
    <?/?>
    <div id="atk-growl-holder" class="atk-growl"></div>
  </body>
</html>
